*{
  box-sizing: border-box;
  
}

body {
  
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
h3{
  font-weight: bold;
}
.forecast{
  
  font-size: 0.9em;
}
span{
  font-size: 1em;
}
li:hover{
  background-color: lightslategray;
  text-decoration: underline;
}
/* Media queries */
@media only screen and (max-width: 992px) {
  #search-city{
      width:100%;
  }
  #search-button{
      width:100%;
  }
}
@media only screen and (max-width: 575px) {

  #fiveDayForecastUl{
      justify-content: center;
  }
}